body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    background:#FFF8F0;
    overflow-x:hidden;
}

.loading-screen{
    position:fixed;
    width:100%;
    height:100vh;
    background:#F7D6E0;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
}

.main-content{
    padding:40px;
    text-align:center;
}

h1{
    font-family:'Caveat', cursive;
}

.photo-section{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
    margin-top:50px;
}

.polaroid{
    background:white;
    padding:15px;
    width:220px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);

    transition:0.3s;
}

.polaroid:hover{
    transform:scale(1.05);
}

.polaroid img{
    width:100%;
}

.rotate-left{
    transform:rotate(-5deg);
}

.rotate-right{
    transform:rotate(5deg);
}

.secret-star{
    font-size:40px;
    cursor:pointer;
    margin-top:40px;
}